label {
  display: flex;
  justify-content: space-between;
}
input, textarea {
  max-width: 550px;
  width: 70%;
  padding-inline: 0.5rem;
  margin-left: 3rem;
  border: 2px solid var(--color-gr2);
  border-radius: 5px;
}
@media screen and (max-width: 750px) {
  label {
    flex-direction: column;
  }
  input, textarea {
    width: 100%;
    margin-top: 0.5rem;
    margin-left: 0;
  }
}
textarea {
  resize: none;
}
input:focus, textarea:focus {
  border-color: var(--color1);
  outline: 1px solid var(--color1);
}
#fs-frm-inputs {
  max-width: 750px;
  margin-top: 4rem;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}
#fs-frm-submit {
  background-color: var(--color1);
  color: var(--color-bg);
  border-color: var(--color1);
}
#fs-frm-submit:hover, #fs-frm-submit:active {
  background-color: var(--color-bg);
  color: var(--color1);
}