@import url('https://fonts.googleapis.com/css2?family=Lora&family=Open+Sans:wght@500&display=swap');
:root { /*refs: draculatheme, materialui*/
    --color-bg: white;
    --color-fg: #282A36;
    --color-gr1: #44475A;
    --color-gr2: #DDD;
    --color1: #1976D2;
    --color2: #FFAB9130;
}
* { box-sizing: border-box; }
html {
    line-height: 1.25;
    font-family: 'Lora', Georgia, serif;
    font-size: 10px;
}
body {
    font-size: 2rem;
    width: 75%;
    min-height: 100vh;
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    background-color: var(--color-bg);
    color: var(--color-fg);
}
::selection {
    background-color: var(--color2);
}
.page-header, footer, h1, h2, h3, .sans-serif {
    font-family: 'Open Sans', Arial, sans-serif;
}
.page-header, footer {
    font-size: 1.6rem;
    cursor: default;
}
.page-header {
    width: 100%;
    padding: 3rem 12.5%;
    position: fixed; z-index: 1; left: 0;
    display: flex;
    background-color: var(--color-bg);
}
main {
    flex: auto;
    margin-top: 12rem;
}
footer {
    margin-block: 3rem;
    padding-top: 1rem;
    display: flex;
    justify-content: end;
    border-top: 1px solid var(--color-gr2);
}
nav ul {
    padding: 0;
    margin-block: 0;
    list-style: none;
    display: flex;
    gap: 2rem;
}
a {
    outline: none;
    text-decoration: none;
    color: var(--color1);
}
a:hover {
    text-decoration: underline;
    color: var(--color1);
}
a:focus-visible {
    outline: 2px solid var(--color1);
}
button {
    padding: 1rem 2rem;
    cursor: pointer;
    border: 2px solid var(--color-gr2);
    border-radius: 25px;
    background-color: var(--color-bg);
}
button:hover, button:active {
    border-color: currentColor;
}
button:focus-visible {
    outline: 2px solid var(--color1) !important;
    outline-offset: 1px;
}
figure img {
  width: 100%;
}
figcaption {
  text-align: center;
  font-size: smaller;
  font-style: italic;
}
.page-header a, footer a {
    color: var(--color-gr1);
}
.nav-btn-close, .nav-btn-open {
    font-size: 2rem;
    padding: 1rem;
    border: none;
    border-radius: 0;
    display: none;
}
.socials a {
    padding-inline: 0.5rem;
}
.socials a:hover {
    color: var(--color1);
}
@media screen and (max-width: 500px) {
    html { font-size: 9px; }
    body { width: 80%; }
    .page-header { padding: 3rem 10%;}
    .head-nav {
        display: flex;
        align-items: flex-start;
    }
    .head-nav ul {
        margin-top: 1rem; margin-left: 3rem;
        flex-direction: column;
        display: none; 
    }
    .head-nav .nav-btn-open { display: block; }
    .head-nav.open ul { display: flex; }
    .head-nav.open .nav-btn-open { display: none; }
    .head-nav.open .nav-btn-close { display: block; }
}
/*!
 * Font Awesome Free 6.1.1 by @fontawesome - https://fontawesome.com
 * License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License)
 * Copyright 2022 Fonticons, Inc.
*/
@font-face {
    font-family: 'Font Awesome 6 Solid';
    font-style: normal;
    font-weight: 900;
    font-display: block;
    src: url("../webfonts/fa-solid-900.woff2") format("woff2"), url("../webfonts/fa-solid-900.ttf") format("truetype");
}
.fas {
    font-family: 'Font Awesome 6 Solid';
    font-weight: 900;
}
@font-face {
    font-family: 'Font Awesome 6 Brands';
    font-style: normal;
    font-weight: 400;
    font-display: block;
    src: url("../webfonts/fa-brands-400.woff2") format("woff2"), url("../webfonts/fa-brands-400.ttf") format("truetype");
}
.fab {
    font-family: 'Font Awesome 6 Brands';
    font-weight: 400;
}
.fas, .fab {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    font-size: inherit;
    line-height: 1;
    text-rendering: auto;
}