@import url('https://fonts.googleapis.com/css2?family=Lora&family=Open+Sans:wght@500&display=swap');
:root { /*refs: draculatheme, materialui*/
    --color-bg: white;
    --color-fg: #282A36;
    --color-gr1: #44475A;
    --color-gr2: #DDD;
    --color1: #1976D2;
    --color2: #FFAB9130;
}
* {
    box-sizing: border-box;
}
html {
    line-height: 1.25;
    font-family: 'Lora', Georgia, serif;
    font-size: 10px;
}
@media screen and (max-width: 500px) {
    html {
        font-size: 8.75px;
    }
}
body {
    font-size: 2rem;
    width: 75%;
    min-height: 100vh;
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--color-bg);
    color: var(--color-fg);
}
::selection {
    background-color: var(--color2);
}
header, footer, h1, .sans-serif {
    font-family: 'Open Sans', Arial, sans-serif;
}
header, footer {
    flex: none;
    font-size: 1.6rem;
}
main {
    flex: auto;
}
header {
    margin-top: 3rem;
    margin-bottom: 7.5rem;
}
footer {
    margin-block: 3rem;
    padding-top: 1rem;
    display: flex;
    justify-content: end;
    border-top: 1px solid var(--color-gr2);
}
nav ul {
    padding: 0;
    margin-block: 0;
    list-style: none;
}
nav ul li {
    margin-right: 2.5rem;
    display: inline;
}
a {
    outline: none;
    text-decoration: none;
    color: var(--color1);
}
a:hover {
    text-decoration: underline;
    color: var(--color1);
}
a:focus-visible {
    outline: 2px solid var(--color1);
}
header a, footer a {
    color: var(--color-gr1);
}
.socials a {
    padding-inline: 0.5rem;
}
.socials a:hover {
    color: var(--color1);
}
button {
    padding: 1rem 2rem;
    cursor: pointer;
    border: 2px solid var(--color-gr2);
    border-radius: 25px;
    background-color: var(--color-bg);
}
button:hover, button:active {
    border-color: currentColor;
}
button:focus-visible {
    outline: 2px solid var(--color1) !important;
    outline-offset: 1px;
}