@import url('https://fonts.googleapis.com/css2?family=Lora&family=Open+Sans:wght@500&display=swap');
:root { /*refs: draculatheme, materialui*/
    --color-bg: white;
    --color-fg: #282A36;
    --color-gr1: #44475A;
    --color-gr2: #DDD;
    --color1: #1976D2;
    --color2: #FFAB9130;
}
* {
    box-sizing: border-box;
}
html {
    font-family: 'Lora', Georgia, serif;
    font-size: 10px;
    background-color: var(--color-bg);
    color: var(--color-fg);
}
::selection {
    background-color: var(--color2);
}
@media screen and (max-width: 500px) {
    html {
        font-size: 8.75px;
    }
}
body {
    font-size: 2.1rem;
    width: 75%;
    min-height: 100vh;
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
nav, footer, h1, .sans-serif {
    font-family: 'Open Sans', Arial, sans-serif;
}
nav, footer {
    font-size: 1.6rem;
    margin-block: 3rem;
}
footer {
    padding-top: 1rem;
    display: flex;
    justify-content: end;
    border-top: 1px solid var(--color-gr2);
}
nav ul {
    padding: 0;
    margin-block: 0;
    list-style: none;
}
nav ul li {
    margin-right: 2.5rem;
    display: inline;
}
a {
    text-decoration: none;
    color: currentColor;
}
a:hover {
    text-decoration: underline;
    color: var(--color1);
}
nav, footer a {
    color: var(--color-gr1);
}
.socials a {
    padding-inline: 0.5rem;
    border-radius: 10%;
}
.socials a:hover {
    color: var(--color1);
}
.btn {
    padding-block: 1rem;
    padding-inline: 2rem;
    border: none;
    border-radius: 25px;
    background-color: var(--color1);
    color: var(--color-bg);
  }
.btn:hover {
    cursor: pointer;
    background-color: var(--color-bg);
    color: var(--color1);
    outline: 2px solid var(--color1);
}
.btn:focus {
    outline: 2px dotted var(--color1);
}