header {
    margin-bottom: 3rem;
}
main {
    flex: none;
    text-align: center;
}
.thumbnails {
    margin-top: 4rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    row-gap: 2rem;
}
.thumbnails a {
    width: 300px;
    border: 1px solid var(--color-gr2);
}
figure {
    margin: 0;
    position: relative;
}
figure img {
    width: 100%;
}   
figcaption {
    font-size: 1.8rem;
    display: none;
}
.thumbnails a:hover {
    box-shadow: 0 0 5px var(--color-gr2);
}
.thumbnails a:hover img {
    filter: opacity(50%);
}
.thumbnails a:hover figcaption {
    padding: 1rem;
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--color1);
    color: var(--color-bg);
}