.list {
  max-width: 750px;
  list-style: none;
  padding: 0;
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}
.item {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
  border: 1px solid var(--color-gr2);
  border-radius: 10px;
  transition: all .1s;
}
.item a {
  padding: 1.25rem 2rem;
  text-decoration: none;
  color: initial;
}
.title, .subtitle, .date {
  margin-block: 0.5rem;
}
.title {
  font-weight: bold;
}
.subtitle, .date {
  font-size: smaller;
}
.item:hover {
  box-shadow: 0 4px 5px var(--color-gr2);
}
.item:hover .title {
  color: var(--color1);
}
.filter-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem 1rem;
}
.filter-tags button {
  font-size: smaller;
  padding: 0.5rem 1rem;
  border-radius: 18px;
  border-width: 1px;
  overflow: hidden;
  transition: all .1s;
}
.filter-tag.active {
  background-color: var(--color1);
  color: var(--color-bg);
  border-color: var(--color1);
}
.filter-tag.active::after {
  content: '✕';
  margin-left: 0.75rem;
  display: inline-block;
  border-radius: 18px;
  color: var(--color-bg);
}