<!DOCTYPE html>
	<html lang="en">
		<head>
			<meta charset="utf-8" />
			<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
			<title>{{ page.title }}</title>
			<link rel="apple-touch-icon" sizes="180x180" href="/assets/images/favicon/apple-touch-icon.png">
			<link rel="icon" type="image/png" sizes="32x32" href="/assets/images/favicon/favicon-32x32.png">
			<link rel="icon" type="image/png" sizes="16x16" href="/assets/images/favicon/favicon-16x16.png">
			<link rel="manifest" href="/assets/images/favicon/site.webmanifest">
			<link rel="stylesheet" type="text/css" href="/assets/css/normalize.css">
			<link rel="stylesheet" type="text/css" href="/assets/css/default.css">
			<link rel="stylesheet" type="text/css" href="/assets/css/fontawesome.css">
			{% if page.custom_css %}
				{% for stylesheet in page.custom_css %}
				<link rel="stylesheet" href="/assets/css/{{ stylesheet }}.css">
				{% endfor %}
			{% endif %}
		</head>
		<body>
			<header>
				{% include nav.html %}
			</header>
			<main>{{ content }}</main>
			<footer>
	    	<div class="socials">
					{% for item in site.data.socials %}
						<a href="{{ item.link }}" title="{{ item.name }}" target="_blank"><i class="fab">&#x{{ item.icon }};</i></a>
					{% endfor %}
				</div>
			</footer>
			{% if page.scripts %}
				{% for script in page.scripts %}
				<script src="/assets/scripts/{{ script }}.js" type="text/javascript"></script>
				{% endfor %}
			{% endif %}
		</body>
	</html>
