<!DOCTYPE html>
	<html lang="en">
		<head>
			<meta charset="utf-8" />
			<meta name="viewport" content="width=device-width, initial-scale=1" />
			<title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.name }}</title>
			<link rel="apple-touch-icon" sizes="180x180" href="/assets/images/favicon/apple-touch-icon.png">
			<link rel="icon" type="image/png" sizes="32x32" href="/assets/images/favicon/favicon-32x32.png">
			<link rel="icon" type="image/png" sizes="16x16" href="/assets/images/favicon/favicon-16x16.png">
			<link rel="manifest" href="/assets/images/favicon/site.webmanifest">
			<link rel="stylesheet" href="/assets/css/normalize.css">
			<link rel="stylesheet" href="/assets/css/default.css">
			{% if page.layout != "default" %}<link rel="stylesheet" href="/assets/css/{{ page.layout }}.css">{% endif %}
			{% if page.custom_css %}{% for stylesheet in page.custom_css %}
			<link rel="stylesheet" href="/assets/css/{{ stylesheet }}.css">
			{% endfor %}{% endif %}
			<script src="/assets/scripts/nav.js" defer></script>
			{% if page.scripts %}{% for script in page.scripts %}
			<script src="{{ script }}" defer></script>
			{% endfor %}{% endif %}
		</head>
		<body>
			<header class="page-header">
				{% include nav.html %}
			</header>
			<main>{{ content }}</main>
			<footer>
	    	<div class="socials">
					{% for item in site.data.socials %}
						<a href="{{ item.link }}" title="{{ item.name }}"><i class="fab">&#x{{ item.icon }};</i></a>
					{% endfor %}
				</div>
			</footer>			
		</body>
	</html>
